<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.acadmi.student.lecture.Student_lectureVO" alias="Student_lectureVO"/>
  		<typeAlias type="com.acadmi.board.lectureQna.LectureQnaVO" alias="LectureQnaVO"/>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		
  		<typeAlias type="com.acadmi.util.Pagination" alias="Pagination"/>
  		<typeAlias type="com.acadmi.util.FileVO" alias="FileVO"/>
  	
  		<typeAlias type="com.acadmi.notification.NotificationVO" alias="NotificationVO"/>
  		
  		<typeAlias type="com.acadmi.member.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.acadmi.member.MemberFilesVO" alias="MemberFilesVO"/>
  		<typeAlias type="com.acadmi.member.RoleVO" alias="RoleVO"/>
  		<typeAlias type="com.acadmi.member.MemberSeqVO" alias="MemberSeqVO"/>
  		
  		<typeAlias type="com.acadmi.lecture.LectureVO" alias="LectureVO"/>
  		<typeAlias type="com.acadmi.lecture.room.LectureRoomVO" alias="LectureRoomVO"/>
  		
  		<typeAlias type="com.acadmi.student.StudentVO" alias="StudentVO"/>
  		<typeAlias type="com.acadmi.student.lecture.StudentLectureVO" alias="StudentLectureVO"/>
  		<typeAlias type="com.acadmi.student.lecture.FavoriteLectureVO" alias="FavoriteLectureVO"/>
  		
  		<typeAlias type="com.acadmi.department.DepartmentVO" alias="DepartmentVO"/>
  		
  		<typeAlias type="com.acadmi.college.CollegeVO" alias="CollegeVO"/>
  		
  		<typeAlias type="com.acadmi.administrator.AdministratorVO" alias="AdministratorVO"/>
  		
  		<typeAlias type="com.acadmi.professor.ProfessorVO" alias="ProfessorVO"/>
  		
  		<typeAlias type="com.acadmi.board.BoardVO" alias="BoardVO"/>
  		<typeAlias type="com.acadmi.board.notice.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.acadmi.board.notice.NoticeFileVO" alias="NoticeFileVO"/>
  		<typeAlias type="com.acadmi.board.qna.QnaVO" alias="QnaVO"/>
  		<typeAlias type="com.acadmi.board.qna.QnaFileVO" alias="QnaFileVO"/>

  		<typeAlias type="com.acadmi.period.PeriodVO" alias="PeriodVO"/>

  		
  		
  		
  	</typeAliases>
  </configuration>