h4 {
	padding: 20px;
}

/* Dropdown title */
.sidebar-menu {
	background-color: rgba( 255, 255, 255, 0 );
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: left;
}

/* Dropdown title on hover & focus */
.sidebar-menu:hover, .sidebar-menu:focus {
    color: #17a2b8;
}

/* The container <div> - needed to position the dropdown content */
.sidebar-dropdown {
    position: relative;
    display: inline-block;
	width: 210px;
	height: 100vh;
}

/* Dropdown Content */
.sidebar-dropdown-content {
    display: block;
    min-width: 160px;
}

/* Links inside the dropdown */
.sidebar-dropdown-content a {
    color: black;
    padding: 7px 35px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

/* Change color of dropdown links on hover */
.sidebar-dropdown-content a:hover {
	color: #17a2b8;
}

/* Show the dropdown menu */
.sidebar-dropdown .show {
	display: none;
}