<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.administrator.AdminIstratorDAO">
  	<select id="getMemberList" resultMap="MemberList">
  		SELECT * FROM MEMBER M
		LEFT OUTER JOIN
			MEMBERFILES MF
		USING(USERNAME)
			INNER JOIN
				STUDENT S 
			USING(USERNAME)
				INNER JOIN
					DEPARTMENT D 
				USING(DEPTNUM)
					INNER JOIN 
						COLLEGE C 
					USING(COLLEGENUM)
  	</select>
  	<resultMap type="MemberVO" id="MemberList">
  		<id column="USERNAME" property="usename"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="ENABLED" property="enabled"/>
  		
  		
  	</resultMap>
  </mapper>