<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.chat.ChatDAO">
  	
  		<!-- select -->
  		
  	<!-- 채팅방 목록 list -->
  	<select id="getChatRoomList" parameterType="pagination" resultMap="getChatRoomResult">
  		SELECT * FROM CHAT_ROOM CR
  				 LEFT JOIN MEMBERFILES MF
  				 ON(CR.ROOMRECIPIENT = MF.USERNAME)
  				 LEFT JOIN CHAT_MESSAGE CM
  				 ON(CR.CHATNUM = CM.CHATNUM)
  				 LEFT JOIN CHATFILES CF
  				 ON(CM.MSGNUM = CF.MSGNUM)
  		WHERE CR.ROOMSENDER = #{username}
  		ORDER BY CHATSTATUS ASC ,CM.MSGDATE DESC
  	</select>
  	
  	<!-- 채팅방의 메세지들을 뽑아오는 것 -->
  	<select id="getChatRoom" parameterType="ChatRoomVO" resultMap="getChatRoomResult">
  		SELECT * FROM CHAT_ROOM CR
				 LEFT JOIN MEMBERFILES MF
				 ON(CR.ROOMSENDER=MF.USERNAME)
				 LEFT JOIN CHAT_MESSAGE CM
				 ON(CR.CHATNUM=CM.CHATNUM)
				 LEFT JOIN CHATFILES CF
				 ON(CM.MSGNUM=CF.MSGNUM)
		WHERE CR.ROOMSENDER = #{roomSender} AND CR.ROOMRECIPIENT = #{roomRecipient}
		ORDER BY MSGDATE ASC
  	</select>
  	
  	<resultMap type="ChatRoomVO" id="getChatRoomResult">
  		<id column="CHATNUM" property="chatNum"/>
  		<result column="CHATSTATUS" property="chatStatus"/>
  		<result column="ROOMSENDER" property="roomSender"/>
  		<result column="ROOMRECIPIENT" property="roomRecipient"/>
  		<association property="memberFilesVO" javaType="MemberFilesVO">
  			<id column="FILENUM" property="fileNum"/>
  			<result column="USERNAME" property="username"/>
  			<result column="FILENAME" property="fileName"/>
  			<result column="ORINAME" property="oriName"/>
  		</association>
  		<collection property="chatMessageVOs" javaType="List" ofType="ChatMessageVO">
  			<id column="MSGNUM" property="msgNum"/>
  			<result column="MSGSENDER" property="msgSender"/>
  			<result column="MSGRECIPIENT" property="msgRecipient"/>
  			<result column="MSGCONTENTS" property="msgContents"/>
  			<result column="MSGDATE" property="msgDate"/>
  			<result column="MSGSTATUS" property="msgStatus"/>
  			<collection property="chatFilesVOs" javaType="List" ofType="ChatFilesVO">
  				<id column="FILENUM" property="fileNum"/>
  				<result column="FILENAME" property="fileName"/>
  				<result column="ORINAME" property="oriName"/>
  			</collection>
  		</collection>
  	</resultMap>
  	
  		<!-- insert -->
  	
  	<!-- 채팅방 만들기 -->
  	<!-- sender -->
  	<insert id="setSenderChatRoom" parameterType="ChatRoomVO">
  		INSERT INTO CHAT_ROOM
  		VALUES (0, #{roomSender}, #{roomRecipient}, 1)
  	</insert>
  	
  	<!-- recipient -->
  	<insert id="setRecipientChatRoom" parameterType="ChatRoomVO">
  		INSERT INTO CHAT_ROOM
  		VALUES (0, #{roomRecipient}, #{roomSender}, 0)
  	</insert>
  	
  	<!-- 메세지 입력 -->
  	<insert id="setSaveMessage" parameterType="ChatMessageVO">
  		INSERT INTO CHAT_MESSAGE
  		VALUES (0, #{msgSender}, #{msgRecipient}, #{msgContents}, now(), #{msgStatus}, #{chatNum})
  	</insert>
  	
  		<!-- update -->
  	
  	<!-- 채팅방 상태 변경 -->
  	<update id="setChatRoomUpdate" parameterType="ChatRoomVO">
  		UPDATE CHAT_ROOM SET CHATSTATUS = #{chatStatus} WHERE CHATNUM = #{chatNum}
  	</update>
  	
  	<!-- 내 채팅방 메세지 상태 변경 -->
  	<update id="setMyChatMessageUpdate" parameterType="ChatMessageVO">
  		UPDATE CHAT_MESSAGE SET MSGSTATUS = 1 WHERE CHATNUM = #{chatNum} AND MSGSENDER = #{msgRecipient}
  	</update>
  	
  	<!-- 상대 채팅방 메세지 상태 변경 -->
  	<update id="setYourChatMessageUpdate">
  		UPDATE CHAT_MESSAGE SET MSGSTATUS = 1 WHERE CHATNUM = #{chatNum} AND MSGRECIPIENT = #{msgSender}
  	</update>
  	
  		<!-- delete -->
  	
  	<!-- 채팅방 나가기 -->
  	<delete id="setChatRoomDelete" parameterType="chatRoomVO">
  		DELETE FROM CHAT_ROOM WHERE CHATNUM = #{chatNum}
  	</delete>
  	
  	
  
  </mapper>