<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.credit.CreditDAO">
  
	<select id="getLectureList" parameterType="LectureVO" resultType="LectureVO">
  		SELECT * FROM LECTURE WHERE USERNAME=#{username} AND TEMPORARY=1
  	</select>
  	<select id="getLectureDetail" parameterType="LectureVO" resultType="LectureVO">
  		SELECT * FROM LECTURE WHERE LECTURENUM=#{lectureNum}
  	</select>
  	<select id="getLectureAttendee" parameterType="LectureVO" resultType="StudentVO">
  		SELECT S.*,M.EMAIL  FROM `MEMBER` M INNER JOIN STUDENT S ON (M.USERNAME=S.USERNAME) 
		INNER JOIN STUDENT_LECTURE SL ON (M.USERNAME=SL.USERNAME) WHERE LECTURENUM=#{lectureNum}
  	</select>
  	
  </mapper>