<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.lecture.LectureDAO">
  <sql id="lectureCondition">
  	<trim prefix="WHERE" prefixOverrides="AND">
  		<if test="temporary==null">
  			TEMPORARY = 0 OR TEMPORARY=1
  		</if>
  		<if test="temporary!=null">
  			TEMPORARY = #{temporary}
  		</if>

  	</trim>
  	
  </sql>
  	<select id="getLectureList" parameterType="LectureVO" resultType="LectureVO">
  		SELECT * FROM LECTURE <include refid="lectureCondition"></include>
  	</select>
  	<select id="getLectureDetail" parameterType="LectureVO" resultType="LectureVO">
  		SELECT * FROM LECTURE WHERE LECTURENUM=#{lectureNum}
  	</select>
  
  	<insert id="setLectureAdd" parameterType="LectureVO" useGeneratedKeys="true" keyProperty="lectureNum">
  		INSERT INTO LECTURE (USERNAME,LECTURENAME,SEMESTER,CATEGORY,DEPTNUM,GRADE,
  		YEAR,WEEKDAY, STARTTIME, ENDTIME, PERSONAL, COMPLETIONGRADE,NOTE,TEMPORARY)
  		VALUES (20190821,#{lectureName},#{semester},#{category},#{deptNum},#{grade},#{year},#{weekday},
  		#{startTime},#{endTime},#{personal},#{completionGrade},#{note},1)
  	</insert>
  	<insert id="setTemporaryAdd" parameterType="LectureVO" useGeneratedKeys="true" keyProperty="lectureNum">
  		INSERT INTO LECTURE (USERNAME,LECTURENAME,SEMESTER,CATEGORY,DEPTNUM,GRADE,
  		YEAR,WEEKDAY, STARTTIME, ENDTIME, PERSONAL, COMPLETIONGRADE,NOTE,TEMPORARY)
  		VALUES (20190821,#{lectureName},#{semester},#{category},#{deptNum},#{grade},#{year},#{weekday},
  		#{startTime},#{endTime},#{personal},#{completionGrade},#{note},0)
  	</insert>
  	
  	<update id="setLectureUpdate" parameterType="LectureVO">
 		UPDATE LECTURE SET SEMESTER=#{semester}, DEPTNUM=#{deptNum},LECTURENAME=#{lectureName},CATEGORY=#{category},
 		GRADE= #{grade},YEAR=#{year}, WEEKDAY=#{weekday},STARTTIME=#{startTime},ENDTIME=#{endTime},PERSONAL=#{personal},
 		COMPLETIONGRADE=#{completionGrade},NOTE=#{note},TEMPORARY=1 WHERE LECTURENUM=#{lectureNum}
 	</update>
 	<update id="setTemporaryUpdate" parameterType="LectureVO">
 		UPDATE LECTURE SET SEMESTER=#{semester}, DEPTNUM=#{deptNum},LECTURENAME=#{lectureName},CATEGORY=#{category},
 		GRADE= #{grade},YEAR=#{year}, WEEKDAY=#{weekday},STARTTIME=#{startTime},ENDTIME=#{endTime},PERSONAL=#{personal},
 		COMPLETIONGRADE=#{completionGrade},NOTE=#{note}, TEMPORARY=0 WHERE LECTURENUM=#{lectureNum}
 	</update>
 	
 	<delete id="setLectureDelete" parameterType="LectureVO">
 		DELETE FROM LECTURE WHERE LECTURENUM=#{lectureNum}
 	</delete>
 	
 	
 	
 	<select id="getLectureMain" parameterType="LectureVO" resultType="LectureVO">
 		SELECT * FROM LECTURE WHERE LECTURENUM=#{lectureNum}
 	</select>
  
  </mapper>