<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.board.lectureNotice.LectureNoticeDAO">
  
  	<sql id="search">
  		<where>
  			<if test="kind == 'title'">
  				TITLE LIKE CONCAT('%', #{search}, '%')
  			</if>
  			<if test="kind == 'contents'">
  				CONTENTS LIKE CONCAT('%', #{search}, '%')
  			</if>
  			<if test="kind == 'writer'">
  				WRITER LIKE CONCAT('%', #{search}, '%')
  			</if>
  		</where>
  	</sql>
  
  	<select id="getTotalCount" resultType="Long" parameterType="Pagination">
  		SELECT COUNT(NUM) FROM LECTURE_NOTICE
  		<include refid="search"></include>
  	</select>
  
  	<select id="getList" resultMap="getDetailResult" parameterType="Pagination">
  		SELECT * FROM LECTURE_NOTICE
  			LEFT JOIN
  			LECTURE_NOTICEFILES
  			USING(NUM)
  		<include refid="search"></include>
  		ORDER BY NUM DESC
  		LIMIT #{startRow}, #{perPage}
  	</select>
  	
  	<select id="getDetail" parameterType="LectureNoticeVO" resultMap="getDetailResult">
  		SELECT *
		FROM LECTURE_NOTICE 
			 LEFT JOIN
			 LECTURE_NOTICEFILES 
			 USING(NUM)
		WHERE NUM = #{num}
  	</select>
  
 	<resultMap type="LectureNoticeVO" id="getDetailResult">
  		<id column="num" property="num"/>
  		<result column="lectureNum" property="lectureNum"/>
  		<result column="title" property="title"/>
  		<result column="writer" property="writer"/>
  		<result column="contents" property="contents"/>
  		<result column="hit" property="hit"/>
  		<result column="regDate" property="regDate"/>
  		<result column="modifyDate" property="modifyDate"/>
  		
  		<collection property="fileVOs" javaType="List" ofType="FileVO">
  			<id column="fileNum" property="fileNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  	</resultMap>
  	
  	<insert id="setInsert" parameterType="LectureNoticeVO" useGeneratedKeys="true" keyProperty="num">
  		INSERT INTO LECTURE_NOTICE (NUM, LECTURENUM, TITLE, WRITER, CONTENTS, HIT, REGDATE, MODIFYDATE)
  		VALUES (#{num}, #{lectureNum}, #{title}, #{writer}, #{contents}, 0, now(), now())
  	</insert>
  	
  	<update id="setUpdate" parameterType="LectureNoticeVO">
  		UPDATE LECTURE_NOTICE SET TITLE = #{title}, CONTENTS = #{contents}, MODIFYDATE = now()
  		WHERE NUM = #{num}
  	</update>
  	
  	<delete id="setDelete" parameterType="LectureNoticeVO">
  		DELETE FROM LECTURE_NOTICE WHERE NUM = #{num}
  	</delete>
  	
  	<insert id="setBoardFileAdd" parameterType="FileVO">
  		INSERT INTO LECTURE_NOTICEFILES (NUM, FILENAME, ORINAME)
  		VALUES(#{num}, #{fileName}, #{oriName})
  	</insert>
  	
  	<select id="getFileDetail" parameterType="FileVO" resultType="FileVO">
  		SELECT * FROM LECTURE_NOTICEFILES WHERE FILENUM = #{fileNum}
  	</select>
  	
  	<delete id="setBoardFileDelete" parameterType="FileVO">
  		DELETE FROM LECTURE_NOTICEFILES WHERE FILENUM = #{fileNum}
  	</delete>
  	
  	<update id="setLectureNoticeHit" parameterType="LectureNoticeVO">
		UPDATE LECTURE_NOTICE SET HIT = #{hit} + 1 
		WHERE NUM = #{num}
   	</update>
   	
   	<select id="getProfessor" resultType="ProfessorVO">
  		SELECT * FROM PROFESSOR
  	</select>
   	
  </mapper>