<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.member.MemberDAO">
  
  		<!-- ==================================Member================================ -->
  
  		<select id="getLogin" parameterType="MemberVO" resultMap="loginResult">
  			SELECT *
  			FROM MEMBER M
  				INNER JOIN
  				MEMBER_ROLE MR
  				ON M.USERNAME = MR.USERNAME
  				INNER JOIN
  				ROLE R
  				ON MR.ROLENUM = R.ROLENUM
  			WHERE M.USERNAME = #{username}
  		</select>
  		
  		<resultMap type="MemberVO" id="loginResult">
  			<id property="username" column="USERNAME"/>
  			<result property="password" column="PASSWORD"/>
  			<result property="category" column="CATEGORY"/>
  			<result property="enabled" column="ENABLED"/>
  			<collection property="roleVOs" javaType="List" ofType="RoleVO">
  				<id property="roleNum" column="ROLENUM"/>
  				<result property="roleName" column="ROLENAME"/>
  			</collection>
  		</resultMap>
  	
  	
  		<insert id="setJoin" parameterType="MemberVO">
	  		INSERT INTO MEMBER
	  		VALUES(#{username}, #{password}, #{email}, #{category}, 0)
  		</insert>
  		
  		<insert id="setRoleAdd" parameterType="Map">
	  		INSERT INTO MEMBER_ROLE
	  		VALUES(#{username}, 1)
  		</insert>
  		
  		<select id="getFindPw" parameterType="MemberVO" resultType="MemberVO">
	  		SELECT USERNAME, EMAIL FROM MEMBER
	  		WHERE USERNAME = #{username} AND EMAIL = #{email}
  		</select>
  		
  		<update id="setPwUpdate" parameterType="MemberVO">
  			UPDATE MEMBER SET PASSWORD = #{password} WHERE USERNAME = #{username}
  		</update>
  		
  		
 <!-- ============================================================================================================================ -->
  		
  		
  		<select id="getStudent" parameterType="StudentVO" resultMap="studentResult">
	  		SELECT * FROM MEMBER M
				LEFT OUTER JOIN
					MEMBERFILES MF
				USING(USERNAME)
					INNER JOIN
						STUDENT S 
					USING(USERNAME)
						INNER JOIN
							DEPARTMENT D 
						USING(DEPTNUM)
		 	WHERE M.USERNAME = #{username}
  		</select>
  	
  		<resultMap type="DepartmentVO" id="studentResult">
  			<id column="DEPTNUM" property="deptNum"/>
  			<result column="DEPTNAME" property="deptName"/>
  			<collection property="studentVOs" javaType="List" ofType="StudentVO">
  				<id column="USERNAME" property="username"/>
  				<result column="GRADE" property="grade"/>
  				<result column="NAME" property="name"/>
  				<result column="PHONE" property="phone"/>
  				<result property="birth" column="BIRTH"/>
	  			<result property="address" column="ADDRESS"/>
	  			<result property="email" column="EMAIL"/>
  				<association property="memberFilesVO" javaType="MemberFilesVO">
           			<id column="FILENAME" property="fileName"/>
        		</association>
  			</collection>
  		</resultMap>
  		
  		<select id="getProfessor" parameterType="ProfessorVO" resultMap="professorResult">
	  		SELECT * FROM MEMBER M
				LEFT OUTER JOIN
					MEMBERFILES MF
				USING(USERNAME)
					INNER JOIN
						PROFESSOR P 
					USING(USERNAME)
						INNER JOIN
							DEPARTMENT D 
						USING(DEPTNUM)
		 	WHERE M.USERNAME = #{username}
  		</select>
  	
  		<resultMap type="DepartmentVO" id="professorResult">
  			<id column="DEPTNUM" property="deptNum"/>
  			<result column="DEPTNAME" property="deptName"/>
  			<collection property="professorVOs" javaType="List" ofType="ProfessorVO">
  				<id column="USERNAME" property="username"/>
  				<result column="NAME" property="name"/>
	  			<result column="PROFESSORROOM" property="professorRoom"/>
  				<result column="PHONE" property="phone"/>
  				<result property="birth" column="BIRTH"/>
	  			<result property="address" column="ADDRESS"/>
	  			<result property="email" column="EMAIL"/>
  				<result column="STATUS" property="status"/>
  				<association property="memberFilesVO" javaType="MemberFilesVO">
           			<id column="FILENAME" property="fileName"/>
        		</association>
  			</collection>
  		</resultMap>
  		
  		<select id="getAdministrator" parameterType="AdministratorVO" resultMap="administratorResult">
		 	SELECT * FROM MEMBER M
				LEFT OUTER JOIN
					MEMBERFILES MF
				USING(USERNAME)
					INNER JOIN
						ADMINISTRATOR A 
					USING(USERNAME)
						INNER JOIN
							DEPARTMENT D 
						USING(DEPTNUM)
		 	WHERE M.USERNAME = #{username}
  		</select>
  		
  		<resultMap type="DepartmentVO" id="administratorResult">
  			<id column="DEPTNUM" property="deptNum"/>
  			<result column="DEPTNAME" property="deptName"/>
  			<collection property="administratorVOs" javaType="List" ofType="AdministratorVO">
  				<id column="USERNAME" property="username"/>
  				<result column="NAME" property="name"/>
  				<result column="PHONE" property="phone"/>
  				<result property="birth" column="BIRTH"/>
	  			<result property="address" column="ADDRESS"/>
	  			<result property="email" column="EMAIL"/>
  				<result column="STATUS" property="status"/>
  				<association property="memberFilesVO" javaType="MemberFilesVO">
           			<id column="FILENAME" property="fileName"/>
        		</association>
  			</collection>
  		</resultMap>
  		
	
 <!-- ============================================================================================================================ -->
 
 		<update id="setStudentUpdate" parameterType="StudentVO">
 			UPDATE STUDENT S
 				RIGHT JOIN MEMBERFILES MF ON (S.USERNAME  = MF.USERNAME)
				   SET MF.FILENAME = #{fileName},
				   	   S.NAME = #{name},
				   	   S.PHONE = #{phone},
				   	   S.BIRTH = #{birth},
				   	   S.ADDRESS = #{address},
				   	   M.EMAIL = #{email}
 			WHERE M.USERNAME = #{username}
 		</update>
 		
  </mapper>