<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.member.MemberDAO">
  
  		<!-- ==================================Member================================ -->
  
  		<select id="getLogin" parameterType="MemberVO" resultMap="loginResult">
  			SELECT *
  			FROM MEMBER M
  				INNER JOIN
  				MEMBER_ROLE MR
  				ON M.USERNAME = MR.USERNAME
  				INNER JOIN
  				ROLE R
  				ON MR.ROLENUM = R.ROLENUM
  			WHERE M.USERNAME = #{username}
  		</select>
  		
  		<resultMap type="MemberVO" id="loginResult">
  			<id property="username" column="USERNAME"/>
  			<result property="password" column="PASSWORD"/>
  			<result property="category" column="CATEGORY"/>
  			<result property="enabled" column="ENABLED"/>
  			<collection property="roleVOs" javaType="List" ofType="RoleVO">
  				<id property="roleNum" column="ROLENUM"/>
  				<result property="roleName" column="ROLENAME"/>
  			</collection>
  		</resultMap>
  	
  	
  		<insert id="setJoin" parameterType="MemberVO">
	  		INSERT INTO MEMBER
	  		VALUES(#{username}, #{password}, #{email}, #{category}, 0)
  		</insert>
  		
  		<insert id="setRoleAdd" parameterType="Map">
	  		INSERT INTO MEMBER_ROLE
	  		VALUES(#{username}, 1)
  		</insert>
  		
  		<select id="getFindPw" parameterType="MemberVO" resultType="MemberVO">
	  		SELECT USERNAME, EMAIL FROM MEMBER
	  		WHERE USERNAME = #{username} AND EMAIL = #{email}
  		</select>
  		
  		<update id="setPwUpdate" parameterType="MemberVO">
  			UPDATE MEMBER SET PASSWORD = #{password} WHERE USERNAME = #{username}
  		</update>
  		
  		<!-- ===================================================================== -->
  		
  		<select id="getStudent" parameterType="MemberVO" resultType="MemberVO">
	  		SELECT M.USERNAME, S.DEPTNUM, S.GRADE, S.NAME, S.PHONE, S.BIRTH, S.ADDRESS, MF.FILENAME
		 	FROM MEMBER M
		  		INNER JOIN
		  		STUDENT S
		  		ON M.USERNAME = S.USERNAME
		  		INNER JOIN 
		  		MEMBERFILES MF 
		  		ON S.USERNAME = MF.USERNAME 
		 	WHERE M.USERNAME = #{username}
  		</select>
  		
<!--   		<resultMap type="MemberVO" id="studentResult">
  			<id property="username" column="USERNAME"/>
  			<result property="password" column="PASSWORD"/>
  			<result property="category" column="CATEGORY"/>
  			<result property="enabled" column="ENABLED"/>
  			<collection property="adminIstratorVOs" javaType="List" ofType="AdministratorVO">
	  			<id property="deptNum" column="DEPTNUM"/>
	  			<result property="grade" column="GRADE"/>
	  			<result property="name" column="NAME"/>
	  			<result property="phone" column="PHONE"/>
	  			<result property="birth" column="BIRTH"/>
	  			<result property="address" column="ADDRESS"/>
  			</collection>
  			<collection property="memberFilesVOs" javaType="List" ofType="MemberFilesVO">
  				<id property="fileName" column="FILENAME"/>
  			</collection>
  		</resultMap> -->
  		
  		<select id="getProfessor" parameterType="MemberVO" resultType="MemberVO">
	  		SELECT *
		 	FROM MEMBER M
		  		INNER JOIN
		  		PROFESSOR P
		  		ON M.USERNAME = P.USERNAME
		  		INNER JOIN 
		  		MEMBERFILES MF 
		  		ON P.USERNAME = MF.USERNAME 
		 	WHERE M.USERNAME = #{username}
  		</select>
  		
  		<select id="getAdministrator" parameterType="MemberVO" resultType="MemberVO">
	  		SELECT *
		 	FROM MEMBER M
		  		INNER JOIN
		  		ADMINISTRATOR A
		  		ON M.USERNAME = A.USERNAME
		  		INNER JOIN 
		  		MEMBERFILES MF 
		  		ON A.USERNAME = MF.USERNAME 
		 	WHERE M.USERNAME = #{username}
  		</select>
  		
  </mapper>