<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.acadmi.notification.NotificationDAO">
  	
  	<!-- kind에 따른 알림 list -->
  	<select id="getKindList" parameterType="NotificationVO" resultType="NotificationVO">
  		SELECT * FROM NOTIFICATION WHERE NOTIFICATIONKIND = #{notificationKind}
  		<if test="notificationKind != 1">
  			AND RECIPIENT = #{recipient}
  		</if>
  	</select>
  	
  	<!-- notification add -->
  	<insert id="setNotification" parameterType="NotificationVO">
  		INSERT INTO NOTIFICATION
  		VALUES (0, #{username}, #{notificationMsg}, now(), 0, #{notificationKind})
  	</insert>
  	
  	<!-- 중요 공지 알림을 위한 memberVO의 list -->
  	<select id="getMemberList" resultType="MemberVO">
  		SELECT * FROM MEMBER
  	</select>
  	
  	<!-- 직원 알림을 위한 직원의 memberVO의 list -->
  	<select id="getAdministratorList" resultType="AdministratorVO">
  		SELECT * FROM MEMBER M
			  		  INNER JOIN
					  ADMINISTRATOR A
					  USING (USERNAME)
		WHERE CATEGORY = 0
  	</select>
  	
  	<!-- 교수의 정보를 가져오는 detail -->
  	<select id="getProfessorDetail" parameterType="MemberVO" resultType="ProfessorVO">
  		SELECT * FROM MEMBER M
  					  INNER JOIN
  					  PROFESSOR P
  					  USING (USERNAME)
  		WHERE CATEGORY = 1 AND USERNAME = #{username}
  	</select>
  	<!-- 학생의 정보를 가져오는 detail -->
  	<select id="getStudentDetail" parameterType="MemberVO" resultType="StudentVO">
  		SELECT * FROM MEMBER M
  					  INNER JOIN
  					  STUDENT S
  					  USING (USERNAME)
  		WHERE CATEGORY = 2 AND USERNAME = #{username}
  	</select>
  	
  	
    
  </mapper>